// @mixin fontVerdana {
//   font-family: Verdana;
//   font-style: normal;
// }

* {
  font-family: 'Lato', sans-serif !important;
}

mat-card-content h2 {
  font-size: 17px;
}

mat-card-header h2 {
  font-size: 25px !important;

}
#container {
  width: 100%;
  height: 100%;
  padding: 20px 0 0 0;
  background-image: url('../../../assets/img/leaves-pattern.png');
  background-repeat: repeat;
  padding-bottom: 50px;
}

#container h1 {
  margin: 0;
  padding: 30px;
  font-size: 40px;
  font-weight: bolder;
}

#transparent-background {
  margin-left: 20px;
  box-sizing: border-box;
  width: 80%;
  height: fit-content;
  background: rgba(196, 196, 196, 0.6);
  border-radius: 25px;
  //backdrop-filter: blur(2px);
}


.mat-card-header-text {
  margin: 0 !important;

}
.mat-card-header {
  background-color: white;
}

.mat-card-header img {
  width: 80%;
  height: 80%;
}

.user-card, .address-card, .invoice-card {
  margin: 20px;
  max-width: 500px;
  border-radius: 25px;
  padding: 30px;
}

.address-card, .invoice-card {
  width: 400px;
}

.mat-card-content {
  margin-top: 15px;
}

.user-data-wrapper,
.user-address-wrapper,
.user-invoice-wrapper {
  width: 80%;
  margin: 0 !important;
}

.user-data-wrapper div,
.user-address-wrapper div {
  margin-top: 15px;
  font-size: 15px;
  height: 25px;
  border-bottom: 0.5px solid rgb(187, 186, 186);
}

.user-invoice-wrapper {
  border-bottom: 0.5px solid rgb(187, 186, 186);
  transition: background-color 1s;
  padding: 5px;
}
.user-data-wrapper h2,
.user-address-wrapper h2,
.user-invoice-wrapper h2{
  color: rgb(167, 167, 167) !important;
}

#date-and-customer {
  margin-left: 20px;
  width: 100%;
  height: 80px;

}

#date-and-customer h2, #date-and-customer h3{
margin: 0;
}

.user-invoice-wrapper:hover {
  cursor: pointer;
  background-color: whitesmoke;
}
.indicator {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin: 0 !important;

  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #c9c8c7;
  text-shadow: -1px -1px rgba(255, 255, 255, 0.43), 1px 1px rgba(0, 0, 0, 0.49);
  transition: .4s;
}

.indicator.red {
  background-color: rgb(173, 24, 24);
}

.indicator.green {
  background-color: rgb(9, 146, 71);
}

#edit-profile-button {
  margin-left: 30px;
  color: white;
  font-size: 17px;
  width: 90%
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
