<mat-drawer-container
  [class.drawer-opened]="drawer.opened"
  class="example-container"
>
  <mat-drawer #drawer class="drawer" mode="side" opened="true">
    <mat-toolbar class="header">
      <img src="../../../assets/img/logo.png" alt="">
      <div id="logo-image"> Essential Crops</div>

      <mat-icon class="close" (click)="drawer.close()">close</mat-icon>
    </mat-toolbar>
    <div id="contents-wrapper" fxLayout="column" fxLayoutAlign="space-between">
      <div class="contents">
        <mat-toolbar-row id="Address" [routerLink]="['address']" [routerLinkActive]="['highlight']">
          <mat-icon aria-hidden="false">location_city</mat-icon>
          <mat-label class="mat-icon-span">{{"Address" | translate}}  </mat-label>
        </mat-toolbar-row>
        <mat-toolbar-row id="Invoice" [routerLink]="['invoice']" [routerLinkActive]="['highlight']">
          <mat-icon aria-hidden="false">description</mat-icon>
          <span  class="mat-icon-span">{{"Invoice" | translate}}</span>
        </mat-toolbar-row>
        <mat-toolbar-row id="Product" [routerLink]="['product']"  [routerLinkActive]="['highlight']">
          <mat-icon aria-hidden="false" >production_quantity_limits</mat-icon>
          <span  class="mat-icon-span">{{"Product" | translate}}</span>
        </mat-toolbar-row>
        <mat-toolbar-row id="User" [routerLink]="['user']" [routerLinkActive]="['highlight']">
          <mat-icon aria-hidden="false" >supervised_user_circle</mat-icon>
          <span class="mat-icon-span">{{"User" | translate}}</span>
        </mat-toolbar-row>
        <mat-toolbar-row id="Customer" [routerLink]="['customer']" [routerLinkActive]="['highlight']">
          <mat-icon aria-hidden="false">tag_faces</mat-icon>
          <span  class="mat-icon-span">{{"Customer" | translate}}</span>
        </mat-toolbar-row>

      </div>
      <div id="shift-admin-panel"  fxLayout="column" fxLayoutAlign="center center" >
        <button id="admin-panel-button" mat-button [matMenuTriggerFor]="aboveMenu">{{"Change settings" | translate}}
          <mat-icon aria-hidden="false" aria-label="Example home icon">admin_panel_settings</mat-icon>
        </button>
        <mat-menu #aboveMenu="matMenu" yPosition="above">
          <button mat-menu-item fxLayout="row" fxLayoutAlign="space-between center">
            <span >{{"Change language" | translate}}</span>
            <div fxLayout="row" fxLayoutAlign="center center" >
              <button mat-icon-button color="warn"  (click)="switchLanguage('en')"> <span class="flag-icon flag-icon-gb"></span>  </button>
              <button mat-icon-button color="warn"  (click)="switchLanguage('sr')"><span class="flag-icon flag-icon-rs"></span> </button>
            </div>
          </button>

            <button mat-menu-item  fxLayout="row" fxLayoutAlign="space-between center"  id="UserProfile"  [routerLink]="['user-profile']">{{"Account Settings"  | translate}}
              <mat-icon class="mat-icons-settings"aria-hidden="false" aria-label="Example home icon">settings</mat-icon>
            </button>
            <button mat-menu-item fxLayout="row" fxLayoutAlign="space-between center" >{{"Switch to user panel" | translate}}
              <mat-icon class="mat-icons-settings" aria-hidden="false" aria-label="Example home icon">person</mat-icon>
            </button>
            <button mat-menu-item fxLayout="row" fxLayoutAlign="space-between center" (click)="logOut()"
            >{{"Log out" | translate}}
              <mat-icon class="mat-icons-settings" aria-hidden="false" aria-label="Example home icon">logout</mat-icon>
            </button>
        </mat-menu>
      </div>
  </div>


  </mat-drawer>

  <mat-toolbar class="main header">
    <mat-icon id="menu-icon-header" *ngIf="!drawer.opened" (click)="drawer.toggle()"> menu </mat-icon>
    <div id="header-wrapper" fxLayout="row" fxLayoutAlign="space-between center" >
      <div>Admin panel</div>

      <div id="user-button">

        <button mat-mini-fab color="primary"  [matMenuTriggerFor]="belowMenu" aria-label="Example icon button with a delete icon">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
          <button mat-menu-item fxLayout="row" fxLayoutAlign="space-between center">
            <span >{{"Change language" | translate}}</span>
            <div fxLayout="row" fxLayoutAlign="center center" >
              <button mat-icon-button color="warn"  (click)="switchLanguage('en')"> <span class="flag-icon flag-icon-gb"></span>  </button>
              <button mat-icon-button color="warn"  (click)="switchLanguage('sr')"><span class="flag-icon flag-icon-rs"></span> </button>
            </div>
          </button>
          <button mat-menu-item  fxLayout="row" fxLayoutAlign="space-between center" id="UserProfile"  [routerLink]="['user-profile']">{{"Account Settings"  | translate}}
            <mat-icon class="mat-icons-settings"aria-hidden="false" aria-label="Example home icon">settings</mat-icon>
          </button>
          <button mat-menu-item fxLayout="row" fxLayoutAlign="space-between center" >{{"Switch to user panel" | translate}}
            <mat-icon class="mat-icons-settings" aria-hidden="false" aria-label="Example home icon">person</mat-icon>
          </button>
          <button mat-menu-item fxLayout="row" fxLayoutAlign="space-between center" (click)="logOut()"
          >{{"Log out" | translate}}
            <mat-icon class="mat-icons-settings" aria-hidden="false" aria-label="Example home icon">logout</mat-icon>
          </button>
        </mat-menu>

      </div>

    </div>
  </mat-toolbar>
  <div class="main contents" >

    <ng-container #viewContainer>
      <router-outlet></router-outlet>
    </ng-container>
  </div>

  <mat-toolbar class="main footer">
    © 2021 - _maca_faca. All Rights Reserved.
  </mat-toolbar>
</mat-drawer-container>


