.drawer {
  position: fixed;
  height: 100%;
  min-width: 15%;
  background-color: #212121;
  color: whitesmoke;
}

.drawer .header {
  position: absolute;
  right: 0;
  justify-content: space-between;
}

.close:hover {
  cursor: pointer;
  color: red;
}

.main {
  background-color: #fff;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  color: #ccc;
  background-color: #161616;
  border-bottom: 1px solid #ccc;
}

.contents {
  height: fit-content;
  margin-top: 80px !important ;
  padding: 16px;
}

.main.footer {
  position: fixed;
  border-top: 1px solid #ccc;
  bottom: 0;
  width: 100%;
}

.mat-toolbar-row {
  display: flex;
  flex-direction: row;
  padding: 15px !important;
}


.mat-toolbar-row:hover{
  cursor: pointer;
  user-select: none;
  background-color: #161616;
  border-bottom: whitesmoke 0.5px solid;
}

.mat-icon-span {
  margin-left: 10px;
  font-size: 20px;
}
