.mat-drawer-container{
  height: 100% !important;
background-color: white;
}

.drawer {
  position: fixed;
  height: 100%;
  min-width: 15%;
  background-color: #212121;
  color: whitesmoke;
  margin: 0;
}
#contents-wrapper {
  height: 100%;
}
.drawer .header {
  position: absolute;
  right: 0;
  // justify-content: space-between;
}
.close {
  transition: color 0.4s;
}


.close:hover {
  cursor: pointer;
  color: red;
}

.main {
  background-color: #fff;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  color: #ccc;
  background-color: #161616;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
}
#logo-image {
  color: white;
}
.header img {
  width: 70px;
  height: 70px;
}
.contents {
  height: auto;
  margin-top: 60px !important ;
  //padding: 16px;
  margin-bottom: 60px;
  //overflow: hidden !important;
}

.mat-toolbar {
  height: 60px !important;
}

.mat-drawer-content {
  padding: 16px !important ;
}

.main.footer {
  position: fixed;
  border-top: 1px solid #ccc;
  bottom: 0;
  width: 100%;
  font-size: 15px;
  background-color: #161616;
  color: white;
  z-index: 2;
}

.mat-toolbar-row {
  display: flex;
  flex-direction: row;
  padding: 15px !important;
}

.mat-toolbar-row:hover, .highlight  {
  cursor: pointer;
  user-select: none;
  background-color: #161616;
}

.highlight {
  border-top: #4caf50 0.5px solid;
  border-bottom: #4caf50 0.5px solid;
}

.mat-icon-span {
  margin-left: 10px;
  font-size: 20px;
}


#shift-admin-panel {
  background-color: rgb(0, 0, 0);
  padding: 16px;
  height: 90px;
}

#admin-panel-button {
  width: 100%;
  background-color: #4caf50;
  font-size: 18px;
  padding: 5px;
}

.mat-icons-settings {
  padding: 0;
  margin: 0 !important;
  margin-left: 40px !important;
}

#header-wrapper {
  width: 100%;
}

#user-button {
  margin-right: 15px;
}

#menu-icon-header {
  margin: 0 20px 0 10px;
  transition: color 0.4s;
}

#menu-icon-header:hover {
  cursor: pointer;
  color: #4caf50;
}

.main.contents{
  //padding-bottom: 50px;
}
