<div id="container">
  <mat-card-title>{{'Add new product'  | translate }}</mat-card-title>
  <mat-card-content fxLayout="column">
    <form [formGroup]="productForm">

      <!--****************************************************************-->
      <div fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field class="input-full-width">
          <mat-label>{{'Name'  | translate }}</mat-label>
          <input matInput formControlName="name" required />
        </mat-form-field>

        <mat-form-field id="post-code" class="input-full-width">
          <mat-label>{{'Unit'  | translate }}</mat-label>
          <input matInput formControlName="unit" required/>
        </mat-form-field>
      </div>
      <!--****************************************************************-->
      <mat-form-field class="input-full-width">
        <mat-label>{{'Price'  | translate }}</mat-label>
        <input matInput formControlName="price" required />
      </mat-form-field>
      <br />
       <!--****************************************************************-->
      <mat-form-field class="input-full-width" appearance="fill">
        <mat-label>{{'Description'  | translate }}</mat-label>
        <textarea matInput   formControlName="description"></textarea>
      </mat-form-field><br />
      <!--****************************************************************-->
      <mat-form-field class="input-full-width">
        <mat-label>{{'Available Quantity'  | translate }}</mat-label>
        <input matInput formControlName="availableQuantity" required/>
      </mat-form-field> <br />
      <!--****************************************************************-->
      <mat-form-field class="input-full-width">
        <mat-label>{{'Date added'  | translate }}</mat-label>
        <input matInput formControlName="dateAdded" [(ngModel)]="this.date" readonly/>
      </mat-form-field>
      <!--****************************************************************-->
    </form>
    <h3  fxLayout="row" fxLayoutAlign="center center" [ngClass]="{
      'warning': formFilled,
      'error': !formFilled
    }">{{'All fields are required'  | translate }}</h3>
    <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
      <button
        (click)="backToProductTable()"
        [routerLink]="['product']"
        color="warn"
        mat-raised-button
      >
        {{'BACK'  | translate }}
      </button>
      <button
        (click)="finish()"
        color="accent"
        mat-raised-button
      >
        {{'FINISH'  | translate }}
      </button>
    </mat-card-actions>
  </mat-card-content>
</div>
