#container {
  margin: 50px 50px 0px 80px;
  max-width: 600px;
  padding-top: 30px;
}
.mat-form-field{
  margin-top: 20px;
  width: 280px !important;
}

.mat-radio-button {
  width: 150px;
}

.warning {
  color:#4CAF50;
  border: 0.2px solid #71aab3;
  height: 40px;
  background-color:#D1ECF1;
  border-radius: 1%;
  color: #3D7A84;
  font-size: 12px;
}

.error {
  background-color:#F8D7DA;
  color: #c45b66;
  font-size: 12px;
  height: 40px;
  border: 0.2px solid #c93241;
  border-radius: 1%;
}

.mat-card-actions button:nth-child(2) {
  width: 400px;
}
