#container {
  margin: 20px 0 0 80px;
  max-width: 600px;
}
.mat-form-field{
  margin-top: 20px;
  width: 280px !important;
}

.mat-radio-button {
  width: 150px;
}


h3 {
  color:#4CAF50;
}

.mat-card-actions button:nth-child(2) {
  width: 400px;
}
