<header></header>
<div id="content">
  <div id="left-side">asd</div>

  <div id="right-side">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-tab-group animationDuration="0ms">
          <mat-tab label="LOG IN"
            ><mat-card-content>
              <form [formGroup]="login">
                <mat-form-field class="input-full-width">
                  <mat-label>Email</mat-label>
                  <input
                    matInput
                    formControlName="email"
                    required
                    placeholder="Ex. pat@example.com"
                  />
                  <mat-error
                    *ngIf="
                      login.hasError('email') && !login.hasError('required')
                    "
                  >
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="login.hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="input-full-width">
                  <input
                    matInput
                    placeholder="Password"
                    [type]="hide ? 'password' : 'text'"
                    formControlName="password"
                    required
                  />
                  <mat-icon matSuffix (click)="hide = !hide">{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                  <mat-hint *ngIf="!passwordInput"
                    >Enter your password</mat-hint
                  >
                </mat-form-field>
              </form>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-tab>
          <mat-tab label="SIGN UP">
            <mat-card-content>
              <form [formGroup]="singup">
                <mat-form-field class="input-full-width">
                  <mat-label>First name</mat-label>
                  <input matInput
                  formControlName="firstName"
                  required/>
                </mat-form-field>
                <mat-form-field class="input-full-width">
                  <mat-label>Last name</mat-label>
                  <input matInput formControlName="lastName"
                  required/>
                </mat-form-field>
                <mat-form-field class="input-full-width">
                  <mat-label>Email</mat-label>
                  <input
                    matInput
                    formControlName="emailSingUp"
                    required
                    placeholder="Ex. pat@example.com"
                  />
                  <mat-error
                    *ngIf="
                      singup.hasError('emailSingUp') &&
                      !singup.hasError('required')
                    "
                  >
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="singup.hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="input-full-width">
                  <mat-label>Telephone number</mat-label>
                  <!-- <span matPrefix>+1 &nbsp;</span> -->
                  <input type="tel" matInput formControlName="phoneNumber"
                  required placeholder="555-555-1234">
                  <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
                </mat-form-field>
                <mat-form-field class="input-full-width">
                  <mat-label>Gender</mat-label>
                  <input matInput formControlName="gender"
                  required/>
                </mat-form-field>
                <mat-form-field appearance="fill" class="input-full-width">
                  <mat-label>Input disabled</mat-label>
                  <input
                    matInput
                    [matDatepicker]="dp3"
                    formControlName="dateOfBirth"
                    required
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="dp3"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                </mat-form-field>
                <mat-radio-group aria-label="Select an option">
                  <mat-radio-button value="1">Female</mat-radio-button>
                  <mat-radio-button value="2">Male</mat-radio-button>
                </mat-radio-group>
              </form>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Finish</button>
            </mat-card-actions>
          </mat-tab>
        </mat-tab-group>
      </mat-card-header>
    </mat-card>
  </div>
</div>
