<header></header>
<div id="content">
  <div id="left-side"></div>

  <div id="right-side">
    <mat-card class="login-card">
      <mat-card-content>
              <form [formGroup]="loginForm">
                <mat-form-field class="input-full-width">
                  <mat-label>Email</mat-label>
                  <input
                    matInput
                    formControlName="email"
                    required
                    placeholder="Ex. pat@example.com"
                  />
                  <mat-error
                    *ngIf="
                    loginForm.hasError('email') && !loginForm.hasError('required')
                    "
                  >
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="loginForm.hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="input-full-width">
                  <input
                    matInput
                    placeholder="Password"
                    [type]="hide ? 'password' : 'text'"
                    formControlName="password"
                    required
                  />
                  <mat-icon matSuffix (click)="hide = !hide">{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                  <mat-hint *ngIf="!passwordInput"
                    >Enter your password</mat-hint
                  >
                </mat-form-field>
              </form>
              <h4 id="wrongData"></h4>
            </mat-card-content>
            <button (click)="finishLogin()" id="loginButton" color="accent" mat-raised-button>FINISH</button>
    </mat-card>
  </div>
</div>
