<div id="container">
  <mat-card-title>{{'Add new product'  | translate }}</mat-card-title>
  <mat-card-content fxLayout="column">
    <form [formGroup]="productForm" fxLayout="column" fxLayoutAlign="space-between" >

      <!--****************************************************************-->
      <mat-form-field appearance="fill">
        <mat-label>{{'Select product'  | translate }}</mat-label>
        <mat-select [formControl]="productsfrm"  (ngModelChange)="updateData($event)">
            <mat-option  *ngFor="let product of products" [value]="product.id" >{{product.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field id="post-code" class="input-full-width">
        <mat-label>{{'Unit'  | translate }}</mat-label>
        <input matInput formControlName="unit"/>
      </mat-form-field>

      <!--****************************************************************-->
      <mat-form-field class="input-full-width">
        <mat-label>{{'Price'  | translate }}</mat-label>
        <input  matInput formControlName="price" />
      </mat-form-field>

       <!--****************************************************************-->
      <mat-form-field class="input-full-width">
        <mat-label>{{'Quantity'  | translate }}</mat-label>
        <input matInput formControlName="quantity" required/>
      </mat-form-field>
      <!--****************************************************************-->
    </form>
    <h3  fxLayout="row" fxLayoutAlign="center center" [ngClass]="{
      'warning': formFilled,
      'error': !formFilled
    }">{{'All fields are required'  | translate }}</h3>
    <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
      <button
        (click)="closeDialog()"
        color="warn"
        mat-raised-button
      >
        {{'BACK'  | translate }}
      </button>
      <button
        (click)="finish()"
        color="accent"
        mat-raised-button
      >
        {{'FINISH'  | translate }}
      </button>
    </mat-card-actions>
  </mat-card-content>
</div>
