html, body { height: 100%; margin:0;padding:0px;box-sizing: border-box; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.snackbar {
  background-color: #327435;
}

@font-face {
  font-family: ubuntu;
  src: url(assets/fonts/Ubuntu-Bold.ttf) format("opentype");
}

@font-face {
  font-family: baskervville;
  src: url(assets/fonts/Baskervville-Regular.ttf) format("opentype");
}

@font-face {
  font-family: bebas;
  src: url(assets/fonts/BebasNeue-Regular.ttf) format("opentype");
}
