<div id="container" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="error-card" fxLayout="column" fxLayoutAlign="center">
    <mat-card-content fxLayout="row" fxLayoutAlign="space-around">
      <div id="error-image">
        <img
          mat-card-image
          src="../../../assets/img/page_not_found.svg"
          alt="Page Not Found"
        />
      </div>
      <div id="error-text" fxLayout="column" fxLayoutAlign="center">
        <h1>Ooops!</h1>
        <h2>We can't seem to find the page you're looking for.</h2>
        <span>Error code: <b>404</b></span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
