<div id="container">
  <mat-card-title>{{pageHeader}}</mat-card-title>
  <mat-card-content fxLayout="column">
    <form [formGroup]="detailForm" >
      <div fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field class="input-width">
          <mat-label>First name</mat-label>
          <input matInput formControlName="firstName" />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Last name</mat-label>
          <input matInput formControlName="lastName" required />
        </mat-form-field>
      </div>
      <!--****************************************************************-->
      <mat-form-field class="input-full-width">
        <mat-label>Telephone number</mat-label>
        <!-- <span matPrefix>+1 &nbsp;</span> -->
        <input
          type="tel"
          matInput
          formControlName="phone"
          required
          placeholder="555-555-1234"
        />
        <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
      </mat-form-field>
      <br />
      <!--****************************************************************-->
      <mat-form-field appearance="fill" class="input-full-width">
        <mat-label>Select your date of birth</mat-label>
        <input matInput [matDatepicker]="date" placeholder="Start date *"
        formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
        <mat-datepicker #date disabled="false"></mat-datepicker>

      </mat-form-field>


      <br />

      <mat-label>Gender</mat-label><br />
      <mat-radio-group formControlName="gender" aria-label="Select an option">
        <mat-radio-button value="Female">Female</mat-radio-button>
        <mat-radio-button value="Male">Male</mat-radio-button>
      </mat-radio-group>
      <br />
      <!--****************************************************************-->
      <mat-form-field class="input-full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          required
          placeholder="Ex. pat@example.com"
        />
        <mat-error
          *ngIf="
          detailForm.hasError('email') &&
            !detailForm.hasError('required')
          "
        >
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="detailForm.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <!--****************************************************************-->
      <div fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field class="input-full-width">
          <input
            matInput
            placeholder="Password"
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            required
          />
          <mat-icon matSuffix (click)="hide = !hide">{{
            hide ? "visibility_off" : "visibility"
          }}</mat-icon>
          <mat-hint *ngIf="!passwordInput">Enter your password</mat-hint>
        </mat-form-field>

        <mat-form-field class="input-full-width">
          <input
            matInput
            placeholder="Confirm password"
            [type]="confirmhide ? 'password' : 'text'"
            formControlName="password"
            required
          />
          <mat-icon matSuffix (click)="confirmhide = !confirmhide">{{
            confirmhide ? "visibility_off" : "visibility"
          }}</mat-icon>
          <mat-hint *ngIf="!passwordInputConfirm"
            >Confirm your password</mat-hint
          >
        </mat-form-field>
      </div>
    </form>
    <form [formGroup]="addressForm">
      <!--****************************************************************-->
      <div fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field class="input-full-width">
          <mat-label>City</mat-label>
          <input matInput formControlName="city" required />
        </mat-form-field>

        <mat-form-field id="post-code" class="input-full-width">
          <mat-label>Postcode</mat-label>
          <input matInput formControlName="postcode" required />
        </mat-form-field>
      </div>
      <!--****************************************************************-->
      <mat-form-field class="input-full-width">
        <mat-label>Line</mat-label>
        <input matInput formControlName="line" required />
      </mat-form-field>
      <br />
      <!--****************************************************************-->

      <mat-form-field class="input-full-width">
        <mat-label>Country</mat-label>
        <input matInput formControlName="country" required />
      </mat-form-field>
      <!--****************************************************************-->
    </form>
    <h3  fxLayout="row" fxLayoutAlign="center center" [ngClass]="{
      'warning': formFilled,
      'error': !formFilled
    }">All fields are required</h3>
    <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
      <button
        (click)="backToUserTable()"
        color="warn"
        mat-raised-button
      >
        BACK
      </button>
      <button
      *ngIf="this.isButtonVisible"
      (click)="submit()"
        color="accent"
        mat-raised-button
      >
        SUBMIT CHANGES
      </button>
    </mat-card-actions>
  </mat-card-content>
</div>
