// TODO: add bottom padding(pagination not visible when 20 rows are viisble)

table {
  width: 100%;
}
.mat-header-cell, .mat-cell {
  justify-content: center;
}
.add-button:hover, .read-button:hover, .edit-button:hover , .delete-button:hover {
  cursor: pointer;
  user-select: none;
  background-color: whitesmoke;
}

.mat-column-edit, .mat-column-delete, .mat-column-add, .mat-column-read {
  flex: 0 0 4% !important;
  width: 4% !important;
 }


 #add-button {
  margin: 20px;
  color: white;
 }

 .disable {
   background-color: #ee0000;
   pointer-events: none;
 }
